.top {
  padding: 93px;
  padding-top: 185px;
  background: -webkit-radial-gradient(
    left top,
    rgb(154, 84, 235),
    rgb(97, 42, 211)
  );
}

.top__heading {
  font-size: 100px;
  line-height: 95px;
  width: 810px;
  opacity: .9;
  width: 810px;
  letter-spacing: -3.3px;
}

.top__desc {
  font-size: 32px;
  color: rgb(255, 255, 255);
  letter-spacing: -0.2px;
  line-height: 42px;
  margin-top: 54px;
  margin-bottom: 70px;
  max-width: 80%;
  opacity: 0.75;
  width: 810px;
}

.top__button {
    padding: 25px 65px;
    font-size: 24px;
    color: var(--calor2);
    background: var(--color1);
    border: none;
    letter-spacing: 0.69px;
    border-radius: 40px;
}

.contact {
  padding: 200px 93px;
}

.contact__heading {
  font-size: 27px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.contact__desc {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-bottom: 25px;
}

.contact__input {
  opacity: 0.9;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5px;
  padding: 17px 13px;
  border: 1px solid rgb(86, 86, 86);
  background: rgb(26, 26, 26);
  border-radius: 6px;
  margin: 10px;
  width: 315px;
  font-family: "Poppins", sans-serif;
}

.strip {
  padding: 50px 93px;
  background-color: #1b1a1c;
}

/*
------------------------------/  M E D I A   Q U E R R I E S  /------------------------------
*/

@media only screen and (max-width: 1100px) {
  .top {
    padding: 75px 40px;
    padding-top: 150px;
  }
  .top__heading {
    letter-spacing: -1.2px;
    font-size: 40px;
    line-height: 40px;
    width: 315px;
  }
  .top__desc {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 20px;
    margin-top: 30px;
    max-width: 85%;
    width: 315px;
    margin-bottom: 0;
  }
  .top__button {
    display: none;
  }
  .contact {
    padding: 90px 40px;
  }
  .navbar--transparent {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer--contact {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .contact__input {
    width: 280px;
  }
}

@media only screen and (max-width: 675px) {
  .contact__input {
    width: 240px;
  }
}

@media only screen and (max-width: 675px) {
  .contact__input {
    width: 240px;
  }
}

@media only screen and (max-width: 595px) {
  .contact__input {
    width: 210px;
  }
}

@media only screen and (max-width: 535px) {
  .contact__input {
    width: 190px;
  }
}

@media only screen and (max-width: 500px) {
  .contact__heading {
    font-size: 20px;
  }
  .contact__desc {
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
  }
  .contact__input {
    margin: 10px 0;
    width: 100%;
  }
  .button--contact {
    width: 100%;
  }
  .strip {
    padding: 25px 93px;
  }
  .navbar__logo--transparent {
    height: 25px;
  }
  .top {
    padding-top: 145px;
  }
}

@media only screen and (max-width: 380px) {
  .top__heading {
    width: auto;
  }
  .top__desc {
    width: auto;
  }
}
