/* 
------------------------------/  C O D E   R E S E T  /------------------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0f0f0f;
  --color2: rgb(248, 248, 248);
  --color3: ;
  --lr-padding: 200px;
}

/* ::selection {
} */

body {
  font-family: "Poppins", sans-serif;
  color: var(--color2);
  background-color: var(--color1);
}

a:active {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
------------------------------/  W E B S I T E   S T Y L I N G  /------------------------------
*/

/* 
__________/  N A V B A R  /__________
*/

.navbar {
  display: flex;
  align-items: center;
  padding: 60px var(--lr-padding);
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--color2);
  letter-spacing: 1px;
}

.navbar--scroll {
  background-color: rgb(0, 0, 0, 0.8);
  padding: 40px var(--lr-padding);
}

.navbar__logo {
  height: 50px;
}

.navbar__links {
  margin-left: auto;
}

.navbar__link {
  margin: 0 10px;
  letter-spacing: 0px;
}

#button {
  display: none;
  margin-left: auto;
}

#bars {
  z-index: 99;
  display: flex;
  position: relative;
  width: 30px;
  height: 3px;
  background: var(--color2);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  right: 0;
}

#bars::before,
#bars::after {
  content: "";
  z-index: 99;
  position: absolute;
  width: 35px;
  height: 3px;
  background: var(--color2);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  right: 0;
}

#bars::before {
  z-index: 99;
  transform: translateY(-10px);
}

#bars::after {
  z-index: 99;
  transform: translateY(10px);
}

.open #bars {
  z-index: 99;
  background: transparent;
  box-shadow: none;
}

.open #bars::before {
  z-index: 99;
  transform: rotate(45deg);
}

.open #bars::after {
  z-index: 99;
  transform: rotate(-45deg);
}

/* 
__________/  H E R O  /__________
*/

.hero {
  height: 1000px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px var(--lr-padding);
}

.hero__text {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__heading {
  font-size: 7.5rem;
  text-align: center;
  width: 1240px;
  line-height: 125px;
  letter-spacing: -4px;
}

/*
------------------------------/  U T I L I T Y  C L A S S E S  /------------------------------
*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  text-decoration: underline;
}

.button {
  padding: 15px 60px;
  background-color: var(--color2);
  color: var(--color1);
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -.5px;
  border: none;
  font-family: "Poppins", sans-serif;
}

.button--hero {
  margin-top: 60px;
}

.section {
  background-color:#d6174c;
  padding: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section__heading {
  font-size: 6rem;
  letter-spacing: -3.5px;
  line-height: 95px;
  font-weight: 600;
}

.section__desc {
  margin: 25px 0;
  width: 600px;
  font-weight: 500;
}

/*
------------------------------/  M E D I A   Q U E R R I E S  /------------------------------
*/

/* 
__________/  N A V B A R  /__________
*/

@media only screen and (max-width: 1200px) {
  .navbar__links {
    display: none;
  }
  #button {
    display: block;
  }
}

@media only screen and (max-width: 1310px) {
  .navbar {
    padding: 60px;
  }
}

/* 
__________/  H E R O  /__________
*/

@media only screen and (max-width: 1600px) {
  .hero__heading {
    font-size: 6rem;
    text-align: center;
    width: 900px;
    letter-spacing: -4px;
  }
}

@media only screen and (max-width: 1025px) {
  .hero__heading {
    font-size: 5rem;
    width: 750px;
    line-height: 92px;
  }
  .hero {
    padding: 60px;
  }
  .button--hero {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 870px) {
  .hero__heading {
    font-size: 4rem;
    width: 575px;
    line-height: 80px;
  }
  .button--hero {
    margin-top: 45px;
  }
}

/*               S H I F T               */
@media only screen and (max-width: 700px) {
  .navbar__logo {
    height: 30px;
  }
  .hero__heading {
    font-size: 3.5rem;
    width: 380px;
    text-align: left;
    line-height: 53px;
    font-weight: 600;
  }
  .hero {
    justify-content: flex-start;
  }
  .hero__text {
    align-items: stretch;
  }
  .button--hero {
    margin-top: 35px;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 16px 28px;
    cursor: none;
    width: 180px;
  }
}

@media only screen and (max-width: 490px) {
  .navbar {
    padding: 60px 30px;
  }
  .hero {
    padding: 60px 30px;
  }
}

@media only screen and (max-width: 435px) {
  .hero__heading {
    font-size: 3rem;
    width: 318px;
    line-height: 46px;
  }
  .button--hero {
    margin-top: 30px;
    padding: 16px 24px;
  }
}

/* 
__________/  S E C T I O N  /__________
*/


@media only screen and (max-width: 1310px) {
  .section {
    padding: 100px;
  }
}

@media only screen and (max-width: 790px) {
  .section__heading {
    font-size: 4rem;
    line-height: 75px;
  }
  .section__desc {
    font-weight: 400;
    margin-top: 12.5px;
    width: auto;
  }
}

@media only screen and (max-width: 700px) {
  .section {
    padding: 100px 60px;
  }
  .button--section {
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 16px 28px;
    cursor: none;
  }
}

@media only screen and (max-width: 490px) {
  .section {
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 440px) {
  .section__heading {
    font-size: 3rem;
    line-height: 60px;
  }
}