/* 
------------------------------/  C O D E   R E S E T  /------------------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #0f0f0f;
  --color2: rgb(248, 248, 248);
  --color3: ;
  --lr-padding: 200px;
}

/* ::selection {
} */

body {
  font-family: "Poppins", sans-serif;
  color: var(--color2);
  background-color: var(--color1);
}

a:active {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
------------------------------/  W E B S I T E   S T Y L I N G  /------------------------------
*/

/* 
__________/  N A V B A R  /__________
*/

.navbar {
  display: flex;
  align-items: center;
  padding: 60px var(--lr-padding);
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--color2);
  letter-spacing: 1px;
}

.navbar__logo {
  height: 50px;
}

.navbar__links {
  margin-left: auto;
}

.navbar__link {
  margin: 0 10px;
}

#button {
  display: none;
  margin-left: auto;
}

#bars {
  z-index: 99;
  display: flex;
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--color1);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, .2);
  transition: all 0.5s ease-in-out;
}

#bars::before,
#bars::after {
  content: '';
  z-index: 99;
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--color1);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(255, 101, 47, .2);
  transition: all 0.5s ease-in-out;
}

#bars::before {
  z-index: 99;
  transform: translateY(-8px);
}

#bars::after {
  z-index: 99;
  transform: translateY(8px);
}

.open #bars {
  z-index: 99;
  background: transparent;
  box-shadow: none;
}

.open #bars::before {
  z-index: 99;
  transform: rotate(45deg);
}

.open #bars::after {
  z-index: 99;
  transform: rotate(-45deg);
}

/* 
__________/  H E R O  /__________
*/

.hero {
  height: 1000px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px var(--lr-padding);
}

.hero__text {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__heading {
  font-size: 6rem;
  text-align: center;
}

/*
------------------------------/  U T I L I T Y  C L A S S E S  /------------------------------
*/

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  text-decoration: underline;
}

.button {
  padding: 20px 60px;
  background-color: var(--color2);
  color: var(--color1);
  font-size: 24px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 60px;
}

/*
------------------------------/  M E D I A   Q U E R R I E S  /------------------------------
*/

@media only screen and (max-width: 1200px) {
  .navbar__links {
    display: none;
  }
  #button {
    display: block;
  }
}
